*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#app{
    height: 100vh;
    width: 100vw;
    background-color: #009688;
    background-image:
      linear-gradient(
        to bottom, 
        #009688,
        #009688 15%,
        #DCDBD2 15%,
        #DCDBD2 85%,
        #DCDBD2 85%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    height: 90vh;
    width: 80%;
    margin: 0 auto;
    background-color: white;
}
.contatti{
    width: 40%;

}
.header-contatti{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: lightgrey;
}
.user-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}
.user-img img{
    width: 100%;
}
.icone-contatti i{
    margin: 0 15px;
    color: gray;
    font-size: 20px;
}
.notifiche{
    background-color: aquamarine;
    display: flex;
   
    align-items: center;
    padding: 15px;
}
.notifiche-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    margin-right: 50px;
}
.notifiche-img i{
    padding: 15px 0 5px 15px;
    color: grey;
}
.cerca{
    padding: 5px;
    background-color: #eaeaea;
    text-align: center;
}
.icona-cerca{
    height: 40px;
    border: none;
    background-color: white;
    padding: 10px 10px 0 0;
}
.cerca input{
    height: 30px;
    width: 90%;
    border: none;
}
.list{
    height: 70%;
    overflow-y: auto;
    list-style-type: none;
}
.contatto-img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 15px;
}
.contatto-img img{
    width: 100%;
}
.chat{
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;

}
.contatto{
    display: flex;
}
.stato{
    padding-top: 10px;
    font-size: 12px;
    color: grey;
}
.ora{
    font-size: 12px;
    color: gray;
}
.messaggi{
    width: 60%;
    display: flex;
    flex-direction: column;
}
.header-messaggi{
    display: flex;
    
}
.profili-img img{
    width: 40px;
}
.corpo-msg{
    height: 85%;
   overflow-y: auto;
   background-image: url(../img/mine.jpg);

}

.green{
    display: flex;
    justify-content: flex-end;
   
}
.sfondo-verde{
    background-color: #009688;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
}
.white{
    display: flex;
    justify-content: flex-start;
   
}
.sfondo-bianco{
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
}
.footer{
    background-color: #f3eaeaea;
    display: flex;
    height: 5%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.scrivi-messaggio{
    width: 100%;
    text-align: center;
}
.scrivi-messaggio input{
    width: 95%;
    height: 40px;
    border: none;
    border-radius: 10px;
}
.emoji, .audio{
    color: #6b7274;
    font-size: 20px;
    text-align: center;
}