*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app{
    height: 100vh;
    width: 100vw;
    background: rgb(217,219,212);
background: linear-gradient(0deg, rgba(217,219,212,1) 85%, rgba(0,150,136,1) 85%);
font-family: 'Roboto', sans-serif;
display: flex;
justify-content: center;
align-items: center;
}

.container-app{
    display: flex;
    height: 90vh;
    width: 80%;
    margin: 0 auto;
    background-color: white;
}

.container-contatti{
    width: 40%;
    border-right: 1px solid #d6d5d8;
}

.header-contatti , .header-messaggi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
}

.user , .contact{
    display: flex;
    align-items: center;
    padding: 10px;
}

.user-img{
    width: 50px;
    height: 50px;
    border-radius:50px;
    overflow:hidden ;
    margin-right: 10px;
}

.user-img img{
    width: 100%;
}

.icons-contatti i, .icons-messaggi i{
    margin: 0 15px;
    color: #b1b1b1;
    font-size: 20px;
}

.notifiche{
    background-color: #8edafc;
    display: flex;
    align-items: center;
    padding: 15px;
}

.bell{
    background-color: white;
    color:  #8edafc;
    padding: 10px;
    border-radius: 20px;
    margin-right: 10px;
}

.link-notifiche p{
    font-size: 15px;
}

.link-notifiche a{
    font-size: 13px;
    color: #659cb5;
}

.search-bar{
    padding: 5px;
    background-color: #eaeaea;
    text-align: center;
}

.lente{
    height: 40px;
    border: none;
    background-color: white;
    padding: 7px;
}

.search-bar input{
    height: 40px;
    width: 92%;
    border: none;
}

.list{
    height: 75%;
    overflow-y: auto;
}

.container-img{
    width: 60px;
    height: 60px;
    border-radius:50px;
    overflow:hidden ;
    margin-right: 15px;
}

.container-img img{
    width: 100%;
}

.container-chat{
    width: 98%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-top: 1px solid #d6d5d8;
}

.container-chat:hover{
    cursor: pointer;
}

.contatto{
    display: flex;
}

.last-message{
    color: #a9a7aa;
    padding-top: 10px;
    font-size: 13px;
}

.ora{
    color: #bfbec0;
    font-size: 12px;
}

.container-messaggi{
    width: 60%;
}

.corpo-messaggi{
    height: 85%;
    overflow-y: auto;
    background-image: url("../img/mine.jpg");
}

.container-chat-message{
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.message p{
    padding: 15px 15px 5px 15px ;
}

.ora-invio{
    text-align: end;
    padding: 5px;
    font-size: 12px;
    color: #a9a7aa;
}

.sent{
    background-color: #d5f9ba;
    width: 40%;
    margin: 10px 0;
    border-radius: 10px;
    align-self: flex-end;
}

.received{
    background-color: white;
    width: 40%;
    margin: 10px 0;
    border-radius: 10px;
    align-self: flex-start;
}

.footer{
    background-color: #f3eeea;
    display: flex;
    height: 5%;
    justify-content: space-between;
    align-items: center;
    padding: 27px;
}

.scrivi-messaggio{
    width: 100%;
    text-align: center;
}

.scrivi-messaggio input{
    width: 95%;
    height: 40px;
    border: none;
    border-radius: 10px;
}

.emoji, .audio{
    color: #6b7274;
    font-size: 20px;
    text-align: center;
}

.active{
    background-color: #e9ebeb;
}